body{
    background-color: rgb(255, 255, 255);
}
table{
    text-decoration-color: khaki;
    border: 12px solid rgb(37, 37, 37);
    border-collapse: collapse;
}
table tr td{
    background-color:rgb(223, 222, 191);
    text-indent: right;
    text-align: center;
    transition:.5s linear, border-radius 2s  ease-in 1s;
}
td{
    border: 5px solid rgb(141, 141, 141); 
}
td:hover{
    background-color: rgb(109, 97, 97);
}